@model CarDealership.UI.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "CHANGE PASSWORD";
}

<h3>Change Password</h3>

<div class="p-4 mb-4 bg-light rounded-3">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "formChangePassword", @class = "row g-3", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="col-12">
            <label class="form-label">Current Password</label>
            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
        </div>
        <div class="col-12">
            <label class="form-label">New Password</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="col-12">
            <label class="form-label">Confirm New Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="col-12">
            <button class="btn btn-primary">Submit</button>
        </div>
    }
</div>